#!/usr/bin/env xdg-open

[Desktop Entry]
Categories=System;
Comment=
Exec=python3 /opt/usbguard-gnome/src/usbguard_gnome_applet.py
Icon=/opt/usbguard-gnome/src/usbguard-icon.svg
Keywords=USB;USBGuard;
Name=USBGuard Applet
NoDisplay=false
Path=
StartupNotify=true
StartupWMClass=
Terminal=false
TryExec=
Type=Application
Version=1.0
